img {
    display: block;
    height: 34px;
    width: 169px;
}

.navbar {
    margin-bottom: 50px;
}

.logo--offset {
    border-bottom: 5px solid #fff;
    color: #fff;
    font-family: 'Michroma', sans-serif;
    font-size: 3rem;
}