img {
  display: block;
  height: 34px;
  width: 169px;
}

.navbar {
  margin-bottom: 10px;

  .nav-link {
    &:hover,
    .active {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

.logo--offset {
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link.text-white {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 10px;
  }
}
