<footer class="footer--directory footer--borderTop">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1 class="logo">ELITE</h1>
                <h2 class="logo--slogan">THERAPY PROVIDERS</h2>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <ul class="col-12 col-md-4"></ul>
                    <ul class="col-12 col-md-4 list-unstyled">
                        <h3>Connect With Us</h3>
                        <li><strong>Address</strong></li>
                        <li>16388 Colima Rd. #109</li>
                        <li>Hacienda Heights, CA 91745</li>
                    </ul>
                    <ul class="col-12 col-md-4 list-unstyled">
                        <h3>Connect With Us</h3>
                        <li><a href="mailto:elitetherapyproviders@gmail.com">elitetherapyproviders@gmail.com</a></li>
                        <li><strong>Office</strong>: 626-420-1197</li>
                        <li><strong>Fax</strong>: 626-961-0600</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer--copyright footer--borderTop text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Copyright &copy;2018 Elite Therapy Providers
            </div>
        </div>
    </div>
</footer>