<footer class="footer--directory footer--borderTop">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1 class="logo">ELITE</h1>
                <h2 class="logo--slogan">THERAPY PROVIDERS</h2>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <ul class="col-12 col-md-4 list-unstyled">
                        <h3>Company</h3>
                        <li><a [routerLink]="">Why Elite?</a></li>
                        <li><a [routerLink]="">Stories</a></li>
                        <li><a [routerLink]="">About</a></li>
                    </ul>
                    <ul class="col-12 col-md-4 list-unstyled">
                        <h3>Company</h3>
                        <li><a [routerLink]="">Learn More</a></li>
                        <li><a [routerLink]="">Sign in</a></li>
                        <li><a [routerLink]="">Apply</a></li>
                        <li><a [routerLink]="">Partners</a></li>
                    </ul>
                    <ul class="col-12 col-md-4 list-unstyled">
                        <h3>Connect With Us</h3>
                        <li><a [routerLink]="">Facebook</a></li>
                        <li><a [routerLink]="">LinkedIn</a></li>
                        <li><a [routerLink]="">Twitter</a></li>
                        <li><a [routerLink]="">Email@elite.org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer--copyright footer--borderTop text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Copyright &copy;2018 Elite Therapy Providers
            </div>
        </div>
    </div>
</footer>